* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}

.parallax {
height: 100vh; 
background-size: cover;
background-image: url(img/pageBcg/bannerBcg.jpeg)   ;
background-attachment: fixed;
background-position: center;
} 

.active {
border-bottom: 2px solid darksalmon;
}
.colection {
    position: absolute;
    bottom: 100px;
    left: 20px;
}
.parallax2 {
    height: 60vh; 
    background-size: cover;
    background-image: url(img/home-filler.jpeg)  ;
    background-attachment: fixed;
    position: relative;

} 
.collectionn {
    position: absolute;
    bottom: 0;
    width: 93%;
    text-align: center;
    margin: 0;

}
.parallax3 {
    height: 75vh; 
    background-size: cover;
    background-image: url(img/pageBcg/productsBcg.jpeg)   ;
    background-attachment: fixed;
    opacity: 0.5;
    } 
    
    
    .colection3 {
    
    position: absolute;
    top: 50%;
    width: 98%;
    text-align: center;
    margin: 0;
    }
.parallax4 {

    height: 75vh; 
    background-size: cover;
    background-image: url(img/pageBcg/singleBcg.jpeg)   ;
    background-attachment: fixed;
    opacity: 0.5;
    background-position: center;

}
.parallax5 {
    height: 75vh; 
    background-size: cover;
    background-image: url(img/pageBcg/storeBcg.jpeg)   ;
    background-attachment: fixed;
    opacity: 0.5;
    background-position: center;

}
.colection5 {
    position: absolute;
    top: 50%;
    width: 98%;
    text-align: center;
    margin: 0;
}
.imag img {
    opacity: 0.5;
}
.icone .fas {
color: #ffcc00;
}
.icone .far {
    color: #ffcc00;

}
#count{
    outline: none;
    border: 1px solid black;
    padding: 5px;
    width: 5vh;
}
.shopping{
    border: 1px solid black;
}